*{
	margin: 0px;
	padding: 0px;
}
ul,ol,li{
	list-style: none;
}
body{
	background-color: #f8f7f6;
}
a{
	text-decoration: none;
}
#body{
	width: 1180px;
	margin: 0 auto;
}
#first{
	z-index: 99;
	width: 1180px;
	height: 135px;
	background-color: #f8f7f6;
}
#first-first{
	width: 1180px;
	height: 43px;
}
#first-first-p{
	width: 457px;
	font-size: 10px;
	margin-top: 10px;
	color: #9a9791;
	float: left;
}
#first-first-imgone{
	width: 19px;
	height: 19px;
	margin-right: 18px;
	margin-top: 7px;
	float: left;
}
#first-first-a{
	margin-top: 9px;
	margin-right: 18px;
	float: left;
	font-size: 11px;
	color: #9aa4ac;
}
#first-first-imgtwo{
	width: 15px;
	height: 10px;
	margin-top: 11px;
	margin-right: 3px;
	float: left;
}
#first-first-atwo{
	font-size: 11px;
	float: left;
	margin-top: 9px;
	margin-right: 18px;
	color: #9aa4ac;
}
#first-first-imgthree{
	width: 13px;
	height: 14px;
	margin-top: 9px;
	margin-right: 3px;
	float: left;
}
#first-first-athree{
	font-size: 11px;
	color: #9aa4ac;
	margin-top: 9px;
	margin-right: 18px;
	float: left;
}
#first-first-imgfour{
	width: 8px;
	height: 14px;
	margin-top: 9px;
	margin-right: 2px;
	float: left;
}
#first-first-imgfive{
	width: 18px;
	height: 15px;
	margin-top: 7px;
	margin-right: 6px;
	float: left;
}
#first-first-afour{
	font-size: 11px;
	color: #9aa4ac;
	margin-top: 9px;
	margin-right: 7px;
	float: left;
}
#first-first-imgsix{
	width: 7px;
	height: 9px;
	margin-top: 12px;
	float: left;
}
#first-two{
	width: 1180px;
	height: 62px;
}
#first-two-imgone{
	width: 141px;
	height: 62px;
	float: left;
	margin-right: 108px;
}
#first-two input{
	width: 497px;
	height: 34px;
	margin-top: 14px;
	font-size: 12px;
	float: left;
	border: 3px solid #fe6c00;
	border-radius: 2px 0px 0px 2px;
	color: #74736d;
}
#first-two-divone{
	width: 74px;
	height: 34px;
	margin-top: 14px;
	margin-right: 80px;
	float: left;
	font-size: 16px;
	text-align: center;
	line-height: 34px;
	color: #ffffff;
	background-color: #fe6c00;
	border: 3px solid #fe6c00;
	border-radius: 0px 2px 2px 0px;
	cursor: pointer;
}
#first-two-divone:hover{
	background-color: #ff8f30;
	border: 3px solid #ff8f30;
}
#first-two-divtwo{
	width: 86px;
	height: 40px;
	margin-top: 14px;
	float: left;
	border: 1px solid #e6e5e2;
	border-radius: 1px;
}
#first-two-divtwo img{
	 margin: 7px 0px 0px 32px;
	 float: left;
}
#first-two-divtwo p{
	font-size: 12px;
	color: #9a9791;
	margin-top: 6px;
	margin-left: 1px;
	float: left;
}
#wenhao{
	width: 13px;
	height: 13px;
	float: left;
	margin: 15px 2px 0px 7px;
}
#first-two-divthree{
	width: 86px;
	height: 40px;
	margin-top: 14px;
	float: left;
	border: 1px solid #e6e5e2;
	border-radius: 1px;
	background-color: #ff4d04;
}
#first-two-divthree a{
	width: 52px;
	height: 14px;
	float: left;
	margin-top: 13px;
	font-size: 12px;
	color: #ffffff;
	background-color: #ff4d04;
}
#first-three{
	width: 1180px;
	height: 24px;
}
#first-three li{
	float: left;
	height: 20px;
	padding: 5px 8px;
	line-height: 20px;
	font-size: 12px;
	background: url(../images/line.png) no-repeat right center;
}
#first-three a{
	height: 20px;
}
#first-three li:last-child{
	background: none;
}
#colorone{
	color: #ff0000;
}
#colortwo{
	color: #666560;
}
#colorthree{
	color: #b4a8dc;
}
#first-three ul{
	margin-left: 257px;
}
#two{
	width: 1180px;
	height: 40px;
	padding-top: 10px;
}
#two-first{
	width: 1180px;
	height: 40px;
	float: left;
}
#two-first-first{
	width: 170px;
	height: 40px;
	margin-right: 20px;
	float: left;
	background-color: #ff4d04;
}
#two-first-first p{
	font-size: 15px;
	color: #ffffff;
	margin: 10px 0px 0px 36px;
}
#two-first ul{
	width: 1010px;
	height: 40px;
}
#two-first li{
	padding: 0px 30px;
	font-size: 14px;
	line-height: 40px;
	float: left;
}
#two-first a{
	color: #000000;
}
#two-first a:hover{
	color: #fe6c00;
}
#two-first-two img{
	width: 25px;
	height: 22px;
	margin-top: -7px;
	margin-left: -3px;
	float: right;
}
#two-first-three{
	width: 1180px;
	height: 1px;
	background-color: #fe6c00;
}
#line{
	height: 1px;
	width: auto;
	background-color: #fe6c00;
}
#three{
	width: 1180px;
	height: 548px;
}
#three-first{
	width: 170px;
	height: 548px;
	float: left;
}
#three-first-first{
	width: 170px;
	height: 422px;
	float: left;
}
#three-first-first-first{
	width: 25px;
	height: 422px;
	background-color: #4c4c4a;
	float: left;
}
#three-first-first-first p{
	float: left;
	font-size: 16px;
	color: #ff4d4b;
	padding: 0 4px;
	line-height: 25px;
}
#spaceone{
	margin-top: 24px;
}
#spacetwo{
	margin-top: 26px;
}
#three-first-first-two{
	padding: 4px 0px;
	width: 145px;
	height: 418px;
	float: left;
}
#commodity li{
	float: left;
	padding: 0px 7px;
	font-size: 11px;
	line-height: 32px;
}
#commodity a{
	color: #000000;
}
#commodity a:hover{
	color: #fe6c00;
}
#three-first-two{
	width: 170px;
	height: 1px;
	background-color: #fe6c00;
	float: left;
}
#three-first-three{
	width: 170px;
	height: 125px;
	float: left;
}
#t-f-t{
	width: 170px;
	height: 41px;
	float: left;
}
#t-f-t img{
	width: 22px;
	height: 22px;
	margin: 10px 10px 0px 7px;
	float: left;
}
#t-f-t a{
	font-size: 12px;
	color: #bd7e68;
	float: left;line-height: 41px;
}
#three-two{
	width: 800px;
	height: 548px;
	float: left;
}
/*轮播图*/
#three-two-first{
	z-index: 97;
	width: 800px;
	height: 362px;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.slide img{
	width: 800px;
	height: 362px;
}
#left{
	z-index: 98;
	width: 60px;
	height: 60px;
	top: 151px;
	left: 10px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	display: block;
}
#right{
	z-index: 98;
	width: 60px;
	height: 60px;
	top: 151px;
	left: 730px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	opacity: 0;
	display: block;
}
#right img{
	margin-top: -60px;
}
.nav{
	position: absolute;
	left: 320px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 15px;
	height: 15px;
	background: #ccc;
	cursor: pointer;
	margin: 0 5px;
	border-radius: 50%;
	font-size: 10px;
	text-align: center;;
	line-height: 15px;
	background-color: #ffffff;
}
.nav .active{
	background: #fe6c00;
}
#three-two-two{
	width: 800px;
	height: 2px;
	float: left;
	background-color: #fe6c00;
}
#three-two-three{
	width: 800px;
	height: 184px;
	float: left;
}
#three-two-three img{
	width: 200px;
	height: 183px;
	float: left;
}
#three-three{
	width: 1px;
	height: 548px;
	float: left;
	background-color: #fe6c00;
}
#three-four{
	width: 209px;
	height: 548px;
	float: left;
}
#three-four-one{
	width: 209px;
	height: 43px;
}
#three-four-one-imgone{
	width: 16px;
	height: 15px;
	float: left;
	margin: 14px 12px 0px 21px;
}
#three-four-twoa{
	width: 131px;
	font-size: 12px;
	color: #ff6b4e;
	float: left;
	line-height: 43px;
}
#three-four-one-imgtwo{
	width: 11px;
	height: 9px;
	float: left;
	margin: 17px 0px 0px 0px;
}
#three-four-two{
	width: 209px;
	height: 1px;
	background-color: #ebeae7;
	float: left;
}
/*轮播图*/
#three-four-three{
	width: 209px;
	height: 318px;
	float: left;
	position: relative;
	overflow: hidden;
}
#three-four-three ul{
	position: absolute;
	top: 0px;
}
#three-four-three li{
	width: 209px;
	line-height: 29px;
	font-size: 13px;
	margin-left: 16px;
}
#three-four-three a{
	color: #ff4d04;
}
#three-four-four{
	width: 193px;
	height: 185px;
	margin-left: 16px;
	float: left;
}
#three-four-four img{
	width: 10px;
	height: 17px;
	margin: 7px 15px 1px 0px;
	float: left;
}
#three-four-four-pone{
	font-size: 11px;
	float: left;
	color: #000000;
	margin-top: 7px;
	margin-bottom: 1px;
	line-height: 17px; 
}
#three-four-four-aone span{
	color: #ff4d04;
}
#three-four-four-inone{
	width: 122px;
	height: 22px;
	float: left;
	font-size: 12px;
	margin: 9px 30px 0px -25px;
}
#three-four-four select{
	width: 59px;
	height: 16px;
	float: left;
	margin-top: 6px;
}
#three-four-four-ptwo{
	font-size: 11px;
	color: #ff4d04;
	float: left;
	line-height: 18px;
	margin: 6px 0px 0px 7px;
}
#three-four-four button{
	width: 177px;
	height: 25px;
	background-color: #ff4d04;
	font-size: 12px;
	color: #ffffff;
	margin-top: 6px;
	border-radius: 3px;
	border: none;
}
#four{
	width: 1180px;
	height: 181px;
}
#four-one{
	width: 149px;
	height: 181px;
	margin-right: 20px;
	float: left;
}
#four-two{
	width: 840px;
	height: 181px;
	float: left;
}
#four-two ul{
	width: 140px;
	height: 151px;
	float: left;
}
#four-two p{
	width: 140px;
	height: 30px;
	line-height: 30px;
	margin: 24px 0px 0px 35px;
	color: #000000;
	font-size: 15px;
	float: left;

}
#four-two li{
	width: 105px;
	height: 25px;
	font-size: 12px;
	float: left;
	margin-left: 35px;
}
#four-two a{
	color: #666560;
}
#four-two a:hover{
	color: #fe6c00;
}
#four-three{
	width: 120px;
	height: 144px;
	float: left;
	margin: 27px 0px 0px 10px;
}
#five{
	width: 1180px;
}
#five ul{
	width: 750px;
	margin: 0 auto;
}
#five li{
	float: left;
	line-height: 43px;
	font-size: 11px;
	padding: 0 15px;
	background: url(../images/line.png) no-repeat right center;
}
#five li:last-child{
	background: none;
}
#five a{
	color: #9a9791;
}
#five p{
	width: 1180px;
	line-height: 15px;
	margin-bottom: 10px;
	font-size: 10px;
	color: #a7b0a6;
	text-align: center;
	float: left;
}
#five div{
	width: 800px;
	margin: 0 auto;
}
#people{
	z-index: 99;
	position: fixed;
	overflow: hidden;
	width: 123px;
	height: 105px;
	top: 70px;
	right: -80px;
}
#f{
	width: 123px;
	height: 60px;
	float: left;
}
#s{
	width: 123px;
	height: 45px;
	float: left;
	margin-left: 0.5px;
}
#quan{
	z-index: 99;
	width: 123px;
	height: 140px;
	position: fixed;
	top: 179px;
	right: -80px;
	background-color: #fd9a6e;
}
#quan img{
	float: left;
}
#quan div{
	float: left;
}
#quan p{
	font-size: 13px;
	margin-top: 48px;
}
#quan button{
	font-size: 12px;
	color: #ffffff;
	width: 40px;
	height: 20px;
	margin-top: 15px;
	background-color: #fd9a6e;
	border: 1px solid #ffffff;
	border-radius: 2px;
}
#erwei{
	z-index: 99;
	width: 123px;
	height: 150px;
	position: fixed;
	top: 322px;
	right: -80px;
	background-color: #fd9a6e;
}
#imgone{
	margin: 45px 0px 0px 13px;
}
#imgtwo{
	position: absolute;
	top: 50px;
	right: 20px;
	opacity: 0;
}
#cart{
	z-index: 99;
	position: fixed;
	top: 473px;
	right: -80px;
}